:root {
  --header: #262836;
  --header-hover: #11121a;
  --background: #a3bbaa;
  --text: #F9F9F9;
  --text-hover: #b3aeae;
  --border: #6d3d14;
  --highlight: 232,152,94;
}
.header {
  background-color: var(--header);
}

.text {
  color: var(--text);
}

.App-header {
  background-color: var(--background);
  min-height: 100vh;
}

.hl {
  border: 1px solid var(--text);
  background-color: var(--text);
  border-radius: 2px;
}

.tabBtn{
  color: var(--text-hover);
  font-weight: bolder;
  border-radius: 5px;
}

div .tabActive{
  color: var(--text);
}

.tabBtn:hover {
  transition: 0.2s;
  color: var(--text);
  background-color: var(--header-hover);
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.project-bg {
  /* position: relative; */
  width: 100%;
  height: 100%;
}


.image-wrapper:hover {
  opacity: 0;
}

.project-container:hover {
  border: 2px solid var(--border);
  transition: 0.2s;
}

.project-text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 900;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.project-text:hover {
  opacity: 1;
  background-color: rgba(var(--highlight),0.7);
}

.project-text h3 {
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  color: var(--darker);
}

footer {
  font-size: 48px;
  justify-content: center;
  background-color: var(--header);
}

footer a {
  color: var(--text-hover);
  margin: 10px 20px;
  transition: all .3s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 1;
  text-decoration: none;
  color: var(--text);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
