:root {
  --header: #262836;
  --background: #a3bbaa;
  --text: #F9F9F9;
  --text-light: #b3aeae;
  --border: #6d3d14;
  --highlight: #e8985e;
}
.header {
  background-color: var(--header);
}

.text {
  color: var(--text);
}

.App-header {
  background-color: var(--background);
  min-height: 100vh;
}

.hl {
  border: 1px solid var(--text);
  background-color: var(--text);
  border-radius: 2px;
}

h1{
  font-size: 100px;
}

.tabBtn{
  color: var(--text-light);
  font-weight: bolder;
}

div .tabActive{
  color: var(--text);
}

.tabBtn:hover {
  transition: 0.2s;
  color: var(--text);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
